<mat-toolbar color="primary" style="display: flex;justify-content: space-between">
    <span (click)="goTo('contact')" style="cursor: pointer;">The Form App</span>
    <div class="buttons">
      <button mat-flat-button color="accent" (click)="goTo('contact')">Contact Page</button>
      <button mat-flat-button color="accent" (click)="goTo('form')">Form</button>
      <mat-slide-toggle #slider
          class="example-margin"
          color="green"
          checked="false"
          (change)="toggleDarkMode(slider)">
          Dark Mode!
      </mat-slide-toggle>
    </div>
</mat-toolbar>