<p class="text-center lead mt-4 mb-0" style="font-size: 36px;"> Contact Us!</p>
<div class="main-div">
	<mat-card>
		<mat-card-title class="text-center">
			Gurnoor Singh Khurana
		</mat-card-title>
		<mat-card-subtitle class="text-center">cHJPRkVzc0lvbmFsIHByb0NSYXNUaW5BdE9y</mat-card-subtitle>
		<mat-card-content>
			<div class="card-content">
				<div style="position: relative;width: 90%; height: 200px">
					<div style="position: absolute;left: 50%;width: 50%;height: 100%">
						<div class="social-media">
							<span aria-hidden="false" class="fa fa-facebook" aria-label="Example home icon" (click)="open('https://www.facebook.com/gurnoor.singh.5036459/')"></span>
							<span aria-hidden="false" class="fa fa-linkedin" aria-label="Example home icon" (click)="open('https://www.linkedin.com/in/gurnoor-singh-khurana-48b1b7191/')"></span>
							<span aria-hidden="false" class="fa fa-instagram" aria-label="Example home icon" (click)="open('https://www.instagram.com/_gucci_singh_/')"></span>
							<span aria-hidden="false" class="fa fa-github" aria-label="Example home icon" (click)="open('https://github.com/gurnoor6')"></span>
						</div>
					</div>
					<img [@shrink]="state[0]" (click)="toggleState(0)" style="position: absolute;left:0" src="assets/gurnoor.jpg">
				</div>
				<div class="description">
					Name: Gurnoor Singh Khurana <br>
					Email: <a href="mailto:gurnoor6@gmail.com">gurnoor6@gmail.com</a> <br>
					Contact No.: <a href="tel:+919888158529">+919888158529</a><br>
					Roll No: 190050045
				</div>
			</div>
		</mat-card-content>
	</mat-card>
	

	<mat-card>
		<mat-card-title class="text-center">
			Sambit Behera
		</mat-card-title>
		<mat-card-subtitle class="text-center">If washing hands is an art, try to be the Picasso of it</mat-card-subtitle>
		<mat-card-content>
			<div class="card-content">
				<div style="position: relative;width: 90%; height: 200px">
					<div style="position: absolute;left: 50%;width: 50%;height: 100%">
						<div class="social-media">
							<span aria-hidden="false" class="fa fa-facebook" aria-label="Example home icon" (click)="open('https://www.facebook.com/sambit.behera.423')"></span>
							<span aria-hidden="false" class="fa fa-linkedin" aria-label="Example home icon" (click)="open('https://www.linkedin.com/in/sambit-b-2a76ba114/')"></span>
							<span aria-hidden="false" class="fa fa-instagram" aria-label="Example home icon" (click)="open('https://www.instagram.com/sam_bite_me/')"></span>
							<span aria-hidden="false" class="fa fa-github" aria-label="Example home icon" (click)="open('https://github.com/lostsam423')"></span>
						</div>
					</div>
					<img [@shrink]="state[1]" (click)="toggleState(1)"  src="assets/sambit.jpg">
				</div>
				<div class="description">
					Name: Sambit Behera <br>
					Email: <a href="mailto:beherasambit423@gmail.com">beherasambit423@gmail.com</a> <br>
					Contact No.: <a href="tel:+919462556285">+919462556285</a><br>
					Roll No: 190050104
				</div>
			</div>
		</mat-card-content>
	</mat-card>
</div>