<div class="encloser-div">
	<div style="padding-top: 7.5%">
		<h1 style="text-align: center;">Feedback</h1>

		<form [formGroup]="feedbackForm" #formDirective="ngForm" style="display: flex;flex-direction: column;" (ngSubmit)="submitForm(formDirective)">
		  <mat-form-field class="example-full-width">
		    <mat-label>Name</mat-label>
		    <input formControlName="name" matInput placeholder="example">
		    <mat-error *ngIf="feedbackForm.controls.name.touched && feedbackForm.controls.name.invalid">
	          <span *ngIf="feedbackForm.controls.name.errors.required">This field is mandatory.</span>
	        </mat-error>
		  </mat-form-field>

		  <br>

		  <mat-form-field class="example-full-width">
		    <mat-label>Email</mat-label>
		    <input formControlName="email" matInput placeholder="abc@example.com">
		    <mat-error *ngIf="feedbackForm.controls.email.touched && feedbackForm.controls.email.invalid">
	          <span *ngIf="feedbackForm.controls.email.errors.required">This field is mandatory.</span>
	          <span *ngIf="feedbackForm.controls.email.errors.pattern">This field is invalid.</span>
	        </mat-error>
		  </mat-form-field>

		  <br>

		  <mat-radio-group formControlName="feedback">
		  	  <label>Feedback</label>  
		  	  <br>
			  <mat-radio-button value="Great"> Great </mat-radio-button>
			  <br>
			  <mat-radio-button  value="Okay">Okay</mat-radio-button>
			  <br>
			  <mat-radio-button value="Not Good">Not Good</mat-radio-button>
		  </mat-radio-group>

		  <br>

		  <mat-form-field class="example-full-width">
		    <mat-label>Any Comments (Isn't this the best submission? xD)</mat-label>
		    <textarea formControlName="comment" matInput placeholder="Yes it is the best submission! xD"></textarea>
		  </mat-form-field>
		  <button [disabled]="!feedbackForm.valid" mat-raised-button color="primary" type="submit">Submit</button>
		</form>
		<mat-error *ngIf="error" style="text-align: center;margin-top: 32px">Unfortunately Some Error Occured. The server is not Responding. Try again in a while</mat-error>
		<p *ngIf="success" style="text-align: center;margin-top: 32px;color: green">Thank you for your feedback :)</p>
	</div>
	<div class="response-div pt-5">
		<div *ngIf="feedbackForm">
			<p class="current-values-header text-center text-md-left">Current Two Way Bindings</p>
			<p *ngFor="let item of feedbackForm.value | keys">
				{{item.key}} -> {{item.value}}
			</p>
		</div>
		<div *ngIf="postResponse">
			<p style="text-align: center;margin-top: 32px;color: green">The following response has been recorded!</p>
			<p *ngFor="let item of postResponse | keys">
				{{item.key}} -> {{item.value}} 
			</p>
		</div>
	</div>
</div>
<div class="text-center mt-5 mb-5">
	<button mat-raised-button color="accent" (click)="test()">Test Model to View Binding</button>
</div>
<div #loader class="loader-div">
	<mat-spinner>
	</mat-spinner>
</div>